.navbar {
    background-color: #E0FD2C;
}
.feature {
    background-image: url(images/download.png);
}
.header {
    color: #E0FD2C;
}
.welcome {
    background-color: #035772;
}
.admissions {
    background-color: #E0FD2C;
    color: #035772;
}
.apply-btn {
    background-color: #035772;
    color: #E0FD2C;
    border-style: none;
    text-decoration: none;
}
.apply-btn:hover {
    color: white;
    border-style: solid;
    border-width: thin;
}